/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/****************************************************************************************** */

:root{

    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --button-hover: hsl(245, 83%, 68%);
    --plan-color: hsl(230, 75%, 98%);
}


body{
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--pale-blue);
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  

}

.order-summary-card{
    max-width:20.625rem;
    border-radius: 25px;
    background-color: white;
    overflow: hidden;
    box-shadow: 3px 3px 3px hsl(228,45%,44%,0.15);
    margin: 1.5rem;
}

.header-img{
    width:100%;
}

.card-content{
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 25px;

}

.card-content > * + *{
    margin-top:25px;
}

/* Text Styling */
p{
    font-size: 1rem;
    color: var(--desaturated-blue);
    line-height: 1.5;
    padding-left: .8rem;
    padding-right: .8rem;
}

p, h1, h2{
    text-align:center;
}

h1{
    color:var(--dark-blue);
    font-size: 1.5rem;
    font-weight: 900;
}

/* Center card details (select plan) */

.plan{
    background-color: var(--plan-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    padding-top:15px;
    padding-bottom:15px;
}

.plan-details{
    margin-right:30px;
}

.plan-type{
    font-weight: 900;
    color:var(--dark-blue);
    line-height: 1.5rem;;
}

a{
    font-size: 0.8rem;
    font-weight: 900;
    color: var(--bright-blue)
}

button{
        border: none;
    background-color: var(--bright-blue);
    color:var(--pale-blue);
    box-shadow: 0 20px 30px -8px rgb(197 189 245);
    border-radius: 10px;
    width:100%;
    padding:10px;
    font-weight: 900;
    font-size: 1rem;

}

.cancel{
    font-weight:900;
    margin-bottom: 24px;
}

/* Hover Styling Changes */

button:hover{
    background-color: hsl(245, 83%, 68%);
    cursor: pointer;
}

a:hover{
    color:var(--button-hover);
    cursor: pointer;

}

.cancel:hover{
    color:var(--dark-blue);
    cursor: pointer;

}


 @media only screen and (min-width: 48rem){
    body{
        background-image: url(./images/pattern-background-desktop.svg);
    }

    .order-summary-card{

        max-width:25.375rem;
    }

    .cancel{
        font-size: 1 rem;
    }

} 